{% load mezzanine_tags i18n future %}
<form action="{% url "search" %}" class="navbar-form navbar-right" role="search" style="margin-right: 6px;">

<div class="form-group">
    <input class="form-control" placeholder="{% trans "Search" %}" type="text" name="q" value="{{ request.REQUEST.q }}" style="max-width: 120px;">
</div>

{% if search_model_choices %}
    {% if search_model_choices|length == 1 %}
    <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
    {% else %}
    <div class="form-group">
    <select class="form-control" name="type">
        <option value="">{% trans "All" %}</option>
        {% for verbose_name, model in search_model_choices %}
        <option value="{{ model }}"
            {% if model == request.REQUEST.type  %}selected{% endif %}>
            {{ verbose_name }}
        </option>
        {% endfor %}
    </select>
    </div>
    {% endif %}
{% endif %}

<button type="submit" class="btn btn-default " value=""><i class="glyphicon glyphicon-search"></i></button>

</form>
