<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% trans "Home" %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
<link rel="stylesheet" href="/static/mezzanine/css/magnific-popup.css">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
<style>
    .full-width {
        display: table;
        height: 500px;
        width: 100%;
	    color: white;
	    background: url({% static "img/adibox.png" %}) no-repeat center center;
		-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	    background-size: cover;
	    text-align: left;
	    padding-top: 200px;
		padding-left: 30px;
		padding-bottom: 50px;
		margin-top: 3px;
		margin-bottom: 15px;
	}
	@media(min-width:767px) {
	    .header-top {
	        font-size: 4.5em;
			margin-bottom: 10px;
	    }
		.header-middle {
		    font-size: 3em;
		}
		.header-bottom {
		    font-size: 3.3em;
		}
	}
</style>
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<script src="/static/mezzanine/js/magnific-popup.js"></script>
<script>
$(document).ready(function() {
    $('.gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true,
        }
    });
});
</script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

<link rel="stylesheet" href="http://127.0.0.1:8000/static/grappelli/tinymce/jscripts/tiny_mce/themes/advanced/skins/thebigreason/ui.css">
<link rel="stylesheet" href="http://127.0.0.1:8000/static/grappelli/tinymce/jscripts/tiny_mce/plugins/inlinepopups/skins/clearlooks2/window.css">
{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/" style="text-transform: uppercase; color: #333; font-size: 25px;">{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}{% endif %}</a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg" style="">{{ settings.SITE_TAGLINE }}</p>{% endif %}
</div>
<div class="navbar-collapse collapse">
    {% search_form %}<br><br>
    {% page_menu "pages/menus/dropdown.html" %}
</div>
</div>
</div>

<div class="full-width" >
    <h1 class="header-top"><b>Evangel</b></h1>
	<h3 class="header-middle">Showcase your favourite brands</h3>
	<h2 class="header-bottom">Be a brand evangelist...</h2><br>
	<a class="btn btn-default" href="/about" ><h4>Learn more</h4></a>
</div>

<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}



<div class="container">
<div class="row">
<div class="col-md-12">
    <h1 style="text-align: center;">Top #Evangelist</h1>
	<div class="gallery row">
{% with page.gallery.images.all as images %}
{% for image in images %}
<div class="col-xs-4 col-sm-3">
    <a class="thumbnail" rel="#image-{{ image.id }}" title="{{ image.description }}" href="{{ image.file.url }}">
        <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail image.file 131 75 %}">
    </a>
</div>
{% endfor %}
{% endwith %}

    </div>

</div>
</div>
</div>
<br />
<div class="container">
<div class="row">

<div class="col-md-2 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="col-md-7 middle">
    {% block main %}
    {% blocktrans %}
    <h2>About Evangelist</h2>
	<p>Evangelist is a platform that lets people discover new great brands through 
	other people called "evangelists" or brand evangelists who advertise brands for money 
	or just because they like them, usually using social media. The word Evangelist originally 
	came from Evangelia or Evangelism describing people promoting their Evangelism belief. But with the rise
	of technology it was coined for tech evangelists - people who promote tech (for example Takahashi).</p>
    {% endblocktrans %}
    {% endblock %}
</div>

<div class="col-md-3 right">
    {% nevercache %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    </div>
    </div>
</div>

</div>
</div>

<footer>
<div class="container">
{% page_menu "pages/menus/footer.html" %}

<div class="row">
<p class="site-info text-center">
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</div>
</footer>

{% include "includes/footer_scripts.html" %}
<link rel="stylesheet" href="/static/mezzanine/css/editable.css">
<script type="text/javascript" src="/static/grappelli/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="/static/mezzanine/js/tinymce_setup.js"></script>
<script>



window.__filebrowser_url = '/admin/media-library/browse/';
window.__toolbar_html = '\u000A\u000A\u003Cdiv id\u003D\u0022editable\u002Dtoolbar\u0022 method\u003D\u0022POST\u0022 action\u003D\u0022/admin/logout/\u0022\u003E\u000A    \u000A    \u000A    \u000A    \u003Ca id\u003D\u0022editable\u002Dtoolbar\u002Dtoggle\u0022 href\u003D\u0022#\u0022\u003E\u003C/a\u003E\u000A    \u003Ca href\u003D\u0022/admin/\u0022\u003EAdmin\u003C/a\u003E\u000A    \u003Ca href\u003D\u0022/accounts/logout/?next\u003D/\u0022\u003ELog out\u003C/a\u003E\u000A\u003C/div\u003E\u000A\u000A\u003Cimg id\u003D\u0022editable\u002Dloading\u0022 src\u003D\u0022/static/mezzanine/img/loadingAnimation.gif\u0022\u003E\u000A\u000A';
window.__static_proxy = '/asset_proxy/';
window.__language_code = 'en';
window.__tinymce_css = '/static/mezzanine/css/tinymce.css';
</script>
<script src="/static/mezzanine/js/jquery.tools.toolbox.expose.js"></script>
<script src="/static/mezzanine/js/jquery.tools.overlay.js"></script>
<script src="/static/mezzanine/js/jquery.form.js"></script>
<script src="/static/mezzanine/js/editable.js"></script>

</body>
</html>
